.body {
    background-color: #CDC8F2;
}

.col {
    padding:4% 0% 4%;
}

.left {
    background-color: rgb(133, 194, 247);
    display:flex;
    justify-content: center;
}

.right {
    background-color: rgb(52, 128, 194);
    display:flex;
    justify-content: center;
}

.card {
    width:500px;
}



