<div class="body">
    <!--QUESTION-->
    <h2 class="question">
        Are You Always On The Go?
    </h2>
    
    <!--Travel Input-->
    <form #quizanswers = "ngForm" (ngSubmit)="addAnswer(quizanswers)">
        <div class="container">
            <img src="./assets/img/travel-icon.JPG" class="rounded mx-auto d-block" title="Traveling">
    
            <!-- <span class="switch">
                <input type="checkbox" ngModel name="answer" id="answer">
                <label for="answer"></label>
            </span> -->
            <button type="button" (click)="chooseYes()" class="btn btn-round btn-lg">Yes</button>
            <button type="button" (click)="chooseNo()" class="btn btn-round btn-lg">No</button>
            
        </div>
    
    
        <div class="next">
            <!-- <button type="submit" id="next-button" class="btn">Submit</button> -->
            <!-- <button type="button" id="next-button" class="btn">
                <a class="nav-link" routerLink="/products">See Matches</a>
            </button> -->
        </div>

    </form>
    <button (click)="currentAnswers()"> OS, brands, several apps </button>

</div>