<div class="body">

<!--QUESTION-->
   <h2 class="question">
    What Brands Do You Prefer?
</h2>

<!--Brand Selection-->
<form #quizanswers = "ngForm" (ngSubmit)="addAnswer(quizanswers)">
<div class="container brand-content">
    <!--brand icons-->
    <div class="row brand-icons">
        <div class="col"> 
            <img src="./assets/img/brand-icons/acer-icon.png" class="rounded-circle icon"
            title="Acer">
        </div>     
        <div class="col">
            <img src="./assets/img/brand-icons/apple-icon.png" class="rounded-circle icon"
            title="Apple">
        </div>
        <div class="col">
            <img src="./assets/img/brand-icons/asus-icon.jpg" class="rounded-circle icon"
            title="ASUS">
        </div>
        <div class="col">
            <img src="./assets/img/brand-icons/dell-icon.jpg" class="rounded-circle icon"
            title="Dell">
        </div>
        <div class="col">
            <img src="./assets/img/brand-icons/hp-icon.png" class="rounded-circle icon"
            title="HP">
        </div>
        <div class="col">
            <img src="./assets/img/brand-icons/lenovo-icon.jpg" class="rounded-circle icon"
            title="Lenovo">
        </div>
        <div class="col">
            <img src="./assets/img/brand-icons/microsoft-icon.png" class="rounded-circle icon"
            title="Microsoft">
        </div>
    </div>

    <div class="brand-selection"> <!--make checkboxes into image selections to fix checkbox size problem-->
          <div class="form-group form-check-inline">
            <label class="form-check-label p-4">
              <input 
              type="checkbox"
              ngModel name="acer" 
              #acer="ngModel" 
              id="acer"
              class="form-control form-check-input" 
              value="" >Acer
            </label>
          </div>
          
          <div class="form-group form-check-inline">
            <label class="form-check-label p-4">
              <input 
              type="checkbox"
              ngModel name="apple" 
              #apple="ngModel" 
              id="apple"
              class="form-control form-check-input" 
              value="" >Apple
            </label>
          </div>

          <div class="form-group form-check-inline">
            <label class="form-check-label p-4">
              <input 
              type="checkbox"
              ngModel name="asus" 
              #asus="ngModel" 
              id="asus"
              class="form-control form-check-input" 
              value="" >Asus
            </label>
          </div>


          <div class="form-group form-check-inline">
            <label class="form-check-label p-4">
              <input 
              type="checkbox"
              ngModel name="dell" 
              #dell="ngModel" 
              id="dell"
              class="form-control form-check-input" 
              value="" >Dell
            </label>
          </div>

          
          <div class="form-group form-check-inline">
            <label class="form-check-label p-4">
              <input 
              type="checkbox"
              ngModel name="hp" 
              #hp="ngModel" 
              id="hp"
              class="form-control form-check-input" 
              value="" >HP
            </label>
          </div>


          <div class="form-group form-check-inline">
            <label class="form-check-label p-4">
              <input 
              type="checkbox"
              ngModel name="lenovo" 
              #lenovo="ngModel" 
              id="lenovo"
              class="form-control form-check-input" 
              value="" >Lenovo
            </label>
          </div>


          <div class="form-group form-check-inline">
            <label class="form-check-label p-4">
              <input 
              type="checkbox"
              ngModel name="microsoft" 
              #microsoft="ngModel" 
              id="microsoft"
              class="form-control form-check-input" 
              value="" >Microsoft
            </label>
          </div>

    </div>
    
        
</div>

    <div class="next">
        <button type="submit" id="next-button" class="btn"> Next </button>
    </div>
  </form>
    <!-- <button (click)="showSystems()"> See selected os systems</button> testing; see if data from OS Component was succcessfuly retrieved -->
    <!-- <button (click)="showBrands()"> See selected os systems</button> see if answers were deleted after backtracking -->

</div>