<div class="body">
    <!--QUESTION-->
    <h2 class="question">
        Do You Use Your Computer Strictly For Work?
    </h2>

    <!--Work Input-->
    <div class="container work-content">
        <img src="./assets/img/work-icon.JPG" class="rounded mx-auto d-block" title="Work">
        <a routerLink="/coder">
            <button type="button" class="btn btn-round btn-lg">Yes</button>
        </a>
        <a routerLink="/coder">
            <button type="button" class="btn btn-round btn-lg">No</button>
        </a>
    </div>

    <div class="next">
        <button type="button" id="next-button" class="btn">
            <a class="nav-link" routerLink="/coder">NEXT</a>
        </button>
    </div>
</div>