<div class="body">

    <!--QUESTION-->
    <h2 class="question" data-toggle="tooltip" data-placement="top" title="Running multiple programs requires a higher core count">
        Do You Run Several Applications At Once?
        <button type="button" (click)="popup = true" style="background-color: #FFBB55; outline: none; box-shadow: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
            </svg>
            <span class="visually-hidden"></span>
          </button>
    </h2>

    <!--Coding Input-->
    <div class="container code-content">
        <img src="./assets/img/coder.jpg" class="rounded mx-auto d-block" title="Coder">
        <!-- <a routerLink="/graphics"> -->
            <button type="button" (click)="chooseYes()" class="btn btn-round btn-lg">Yes</button>
        <!-- </a> -->
        <!-- <a routerLink="/graphics"> -->
            <button type="button" (click)="chooseNo()" class="btn btn-round btn-lg">No</button>
        <!-- </a> -->
    </div>

    <!-- <div class="next">
        <button type="button" id="next-button" class="btn">
            <a class="nav-link" routerLink="/travel">NEXT</a>
        </button>
    </div> -->

    <!-- <button type="button" (click)="popup = true">
        ?
       </button> -->
       
       <div class="overlay" *ngIf="popup">
           <div class="popup">
               <h2>We are asking this question because</h2>
               <a class="close" (click)="popup = false">&times;</a>
               <div class="content">
                running multiple programs requires a higher core count
               </div>
           </div>
       </div>
       
    <br>
</div>