<div class="body">
    <!--QUESTION-->
    <h2 class="question">
        Would You Like to Run Games On Your Laptop?
    </h2>

    <!--Game Input-->
    <div class="container">
        <img src="./assets/img/game-icons/gamer.jpg" class="rounded mx-auto d-block" title="Gaming">
        <a routerLink="/game-input">
            <button type="button" class="btn btn-round btn-lg">Yes</button>
        </a>
        <a routerLink="/travel">
            <button type="button" class="btn btn-round btn-lg">No</button>
        </a>
        
    </div>

    <div class="next">
        <button type="button" id="next-button" class="btn">
            <a class="nav-link" href="#">NEXT</a>
        </button>
    </div>
</div>