<div class="body">
    <!--QUESTION-->
    <h2 class="question">
        Do You Use Photoshop, Video Editing, Or Design Software?
    </h2>
    <form #quizanswers = "ngForm">
        <!--Graphics Input-->
    <div class="container graphics-content">
        <div class="row">
            <div class="col">
                <img src="./assets/img/design-icons/adobe icon.png" class="rounded-circle icon" 
                title="Adobe"> 
            </div>
            <div class="col">
                <img src="./assets/img/design-icons/autodesk-logo.jpg" class="rounded-circle icon" 
                title="AutoDesk"> 
            </div>
            <div class="col">
                <img src="./assets/img/design-icons/canva-icon.jpg" class="rounded-circle icon" 
                title="Canva"> 
            </div>
            <div class="col">
                <img src="./assets/img/design-icons/photoshop-icon.png" class="rounded-circle icon" 
                title="Photoshop"> 
            </div>
            <div class="col">
                <img src="./assets/img/design-icons/vegas-pro-logo.jpg" class="rounded-circle icon" 
                title="Vegas Pro"> 
            </div>
        </div>
        <span class="switch">
            <input type="checkbox"id="switcher">
            <label for="switcher"></label>
        </span>
        <!-- <a routerLink="/movies">
            <button type="button" class="btn btn-round btn-lg">No</button>
        </a> -->
    </div>

    <div class="next">
        <button type="button" id="next-button" class="btn">
            <a class="nav-link" routerLink="/travel">NEXT</a>
        </button>
    </div>
    </form>

</div>