<!--Content-->
<div class="container-fluid services-content">
    <div class="row">
        <div id="left-col" class="col-lg-6">
            <img src="./assets/img/broken_laptop.png" class= "images" title="broken laptop">
        </div>

        <div id="right-col" class="col-lg-6">
            <p class="services-description"> Due for a laptop upgrade? Let us help.
                Access our FREE laptop matching service below.
            </p>
            <div class="button-container">
                <button type="button" id="action-button" class="btn">
                    <a class="nav-link" routerLink="/single-view">Get Started</a> <!--will link to first questionnaire question-->
                </button>
            </div>
        </div>

        <!-- <div id="left-col" class="col-lg-6">
            <img src="./assets/img/bill.jpg" class="images" title="bill">
        </div>

        <div id="right-col" class="col-lg-6">
            <p class="services-description"> Need help managing your finances? Our member 
                service keeps track of your expenses 
                all in one place! Join below.
            </p>
            <div class="button-container">
                <button type="button" id="action-button" class="btn">
                    <a class="nav-link" routerLink="/home">Create Account</a>
                </button>
            </div>
        </div> -->
    </div>

</div>