.body {
    background-color: #CDC8F2;
}

.col {
    padding:4% 0% 4%;
}

.left {
    background-color: rgb(177, 133, 247);
    display:flex;
    justify-content: center;
}

.right {
    background-color: rgb(152, 88, 235);
    display:flex;
    justify-content: center;
}

.card {
    width:500px;
}



