<div class="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col left">
        <div class="card mx-auto">
          <div class="card-header"><b>Login</b></div>
          <div class="card-body">
            <app-login-form></app-login-form>
          </div>
          <div class="card-footer">
            <p>Don't have an account? 
              <a routerLink="/signup">Sign Up Here!</a>
          </p>
          </div>
        </div>
        
      </div>
      <div class="col right">
        <app-doughnut-chart></app-doughnut-chart>
      </div>
    </div>
  </div>
       
  </div>
  
  
          
              