<div class="body">

    <!--QUESTION-->
    <h2 class="question">
        Are You A Coder?
    </h2>

    <!--Coding Input-->
    <div class="container code-content">
        <img src="./assets/img/coder.jpg" class="rounded mx-auto d-block" title="Coder">
        <a routerLink="/graphics">
            <button type="button" class="btn btn-round btn-lg">Yes</button>
        </a>
        <a routerLink="/graphics">
            <button type="button" class="btn btn-round btn-lg">No</button>
        </a>
    </div>

    <div class="next">
        <button type="button" id="next-button" class="btn">
            <a class="nav-link" href="#">NEXT</a>
        </button>
    </div>




</div>