<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <div class="form-group">
        <label for="username">Create Username:</label>
        <input 
        required 
        minlength="3" 
        maxlength="20" 
        ngModel name="username" 
        #username="ngModel" 
        id="username" 
        type="text" 
        class="form-control">
        <div class="alert alert-danger" 
        *ngIf="username.touched && !username.valid">
            <div *ngIf="username.errors?.['required']">
                Username is required.
            </div>
            <div *ngIf="username.errors?.['minlength']">
                Username should be minimum 3 characters.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Create Password:</label>
        <input 
        required 
        minlength="8"
        ngModel name="password"
        #password="ngModel" 
        id="password" 
        type="text" 
        class="form-control">
        <div class="alert alert-danger" 
        *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors?.['required']">
                Password is required.
            </div>
            <div *ngIf="password.errors?.['minlength']">
                Password should be minimum 8 characters.
            </div>
        </div>
    </div>
    <re-captcha (resolved)="checkCaptcha($event)"
        name="recaptchaReactive" ngModel siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI">
    </re-captcha>

    <button [disabled]="!captchaResolved || password.errors?.['required'] || username.errors?.['required']" type="submit" class="btn btn-primary">Create Account</button>
    
</form>