nav {
    background-color: white;
}


.btn-round.btn-sm {
    background-color: #C8ECB2 ;
    border-color:#C8ECB2 ;
    border-radius: 25px;
    font-weight: 700;
    margin-right:8px;
    margin-bottom:8px;
}


footer {
    text-align: center;
    padding:15px;
    
}