<div class="body">
       <!--QUESTION-->
       <h2 class="question">
        Do You Like To Stream Movies And Shows?
    </h2>

    <!--Streaming Services Content-->
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="./assets/img/movies-icons/disney-plus-icon.png" class="rounded-circle icon" 
                title="Disney+"> 
            </div>
            <div class="col">
                <img src="./assets/img/movies-icons/hulu-icon.jpg" class="rounded-circle icon" 
                title="Hulu"> 
            </div>
            <div class="col">
                <img src="./assets/img/movies-icons/netlix-icon.jpg" class="rounded-circle icon" 
                title="Netflix"> 
            </div>
            <div class="col">
                <img src="./assets/img/movies-icons/prime-video-icon.jpg" class="rounded-circle icon" 
                title="Prime Video"> 
            </div>
            <div class="col">
                <img src="./assets/img/movies-icons/youtube-icon.png" class="rounded-circle icon" 
                title="Youtube"> 
            </div>
        </div>
        <button type="button" class="btn btn-round btn-lg">Yes</button>
        <button type="button" class="btn btn-round btn-lg">No</button>
    </div>

    <div class="next">
        <button type="button" id="next-button" class="btn">
            <a class="nav-link" href="#">NEXT</a>
        </button>
    </div>

</div>