.body {
    background-color: rgb(211, 231, 248);
}

h2 {
    text-align: center;
    padding:3%;
    
}

img {
    width:385px;
    height:275px;
    object-fit: contain;
}

.products {
    text-align: center;
}

.card {
    width:385px;
    text-align: left;
}

.card-footer {
    display:flex;
    justify-content: flex-start;
}

button {
    margin:5px;
    background-color: antiquewhite;
}