.body {
    background-color: #d3e7f8;
}

h2 {
    text-align: center;
    padding:2%;
    font-weight:bold;
    
}

form {
    padding: 20px;
}

.card-deck{
    margin-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
}

.paginator {
    padding:20px;
}

.loading {
    background-color: #d3e7f8;
    text-align: center;
    padding:20%;
}
.product-img, .modal-img {
    
    height:275px;
    object-fit: contain;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.products {
    text-align: center;
}

.card {
    text-align: left;
    margin: 10px;
}

.card-footer {
    display:flex;
    justify-content: flex-start;
}

button {
    margin:5px;
    background-color: antiquewhite;
}