<div class="body">
    <h2>Here is what we found for you!</h2>
<!--Product Results -->
    <div class="card-columns products">
        <div class="card" *ngFor="let product of products">
            <img src={{product.image}} class="card-img-top border product-img" >
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text"><b>Brand:</b> {{product.brand}}</p>
                <p class="card-text"><b>Price:</b> {{product.price | currency}}</p>
            </div>
            <div class="card-footer">
                <button 
                    type="button" 
                    class="btn border" 
                    data-toggle="modal" 
                    data-target="#productModal"
                    (click)="handleModal(product)">
                    Learn More
                </button>
                <button class="btn border" (click)="saveProduct(product)">
                    Save
                </button>
            </div>   
            
            

        </div>
    </div>

    
</div>

<!-- Product Modal -->
<div class="modal fade" id="productModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title">{{ modalProduct.name }} </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <img src={{modalProduct.image}} class="modal-img" >
                <table class="table">
                    <thead>
                      <tr>
                        <th>Product Details</th>
                        <th></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Brand</td>
                        <td>{{modalProduct.brand}}</td>
                        
                      </tr>
                      <tr>
                        <td>OS</td>
                        <td>...</td>
                        
                      </tr>
                      <tr>
                        <td>Screen Size</td>
                        <td>...</td>
                      </tr>
                      <tr>
                        <td>Memory</td>
                        <td>...</td>
                      </tr>
                      <tr>
                        <td>Processor Speed</td>
                        <td>...</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn border" (click)="saveProduct(modalProduct)">
                    Save
                </button>
                <button class="btn border" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>