button {
    margin:5px;
    background-color: antiquewhite;
}

.container {
    background-color: rgb(255, 255, 255);
    padding:20px;
}

.body {
    background-color: rgb(250, 206, 240);
    padding:5%;
}