button {
    margin:5px;
    background-color: antiquewhite;
}

.container {
    background-color: rgb(255, 255, 255);
    padding:20px;
    margin-bottom: 4%;
}

.body {
    background-color: rgb(206, 226, 250);
    padding:5%;
}