<div class="body">
        <!--QUESTION-->
        <h2 class="question">
            Would You Like to Run Games On Your Laptop?
        </h2>
    
        <!--Game Input-->
        <div class="container">
            <h5>What game would you like to run?</h5>
            <!--User Input Section-->
            <div class="form-inline">
                <label for="game-input"></label>
                <input type="text" class="form-control" placeholder="Enter Game Here" 
                id="game">
            </div>
            <!--Game Icons-->
            <div class="row game-icons">
                <div class="col">
                    <img src="./assets/img/game-icons/apex icon.png" class="rounded-circle icon"
                    title="Apex Legends">
                </div>
                <div class="col">
                    <img src="./assets/img/game-icons/lol icon.jpg" class="rounded-circle icon"
                    title="League of Legends">
                </div>
                <div class="col">
                    <img src="./assets/img/game-icons/lost ark icon.png" class="rounded-circle icon"
                    title="Lost Ark">
                </div>
                <div class="col">
                    <img src="./assets/img/game-icons/mc icon.jpg" class="rounded-circle icon"
                    title="Minecraft">
                </div>
                <div class="col">
                    <img src="./assets/img/game-icons/val icon.png" class="rounded-circle icon"
                    title="Valorant">
                </div>
            </div>
        </div>
    
        <div class="next">
            <button type="button" id="next-button" class="btn">
                <a class="nav-link" routerLink="/travel">NEXT</a>
            </button>
        </div>
</div>