<!--Content-->
<div class="container-fluid home-content">
    <div class="row">
        <div id="left-col" class="col-lg-6">
            <img src="./assets/img/temp-logo.jpg" class="logo" title="logo placeholder">
        </div>
        <div id="right-col" class="col-lg-6">
            <p class="home-description">Navigating tech is hard enough without having to 
                scroll through tech specs.  Let's help you find the best electronics
                without breaking the bank.  Explore our services below.
            </p>

            
        </div>

    </div>

    <div class="learn-more">
        <button type="button" id="learn-more-button" class="btn">
            <a class="nav-link" routerLink="/brand">LEARN MORE</a>
        </button>
    </div>



</div>

