<div class="body">
    <!--QUESTION-->
    <h2 class="question">
        Are You Always On The Go?
    </h2>

    <!--Travel Input-->
    <div class="container">
        <img src="./assets/img/travel-icon.JPG" class="rounded mx-auto d-block" title="Traveling">
        <a routerLink="/work">
            <button type="button" class="btn btn-round btn-lg">Yes</button>
        </a>
        <a routerLink="/work">
            <button type="button" class="btn btn-round btn-lg">No</button>
        </a>
    </div>

    <div class="next">
        <button type="button" id="next-button" class="btn">
            <a class="nav-link" href="#">NEXT</a>
        </button>
    </div>
</div>