.body {
    background-color: #c7d3f9;
    padding:5%;
}

.savedSection {
    background-color: #b4c4f7;
    padding:5%;
}

.auth0-profile {
    background-color:white;
    padding:5%;
}

h2 {
    text-align: center;
}

.loadingProfile {
    background-color: white;
    text-align: center;
    padding:10%;
}

.loading, .nonSaved {
    background-color: #b4c4f7;
    text-align: center;
    padding:5%;
}

.card-deck{
    margin-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
}

.paginator {
    padding:20px;
}


.product-img, .modal-img {
    
    height:275px;
    object-fit: contain;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.products {
    text-align: center;
}

.card {
    text-align: left;
    margin: 10px;
}

.card-footer {
    display:flex;
    justify-content: flex-start;
}


.NewUser {
    text-align: center;
    background-color: #facedc;
    padding:17%;
}

.edit {
    float: right;
    margin:5px;
    background-color: antiquewhite;
}

button {
    margin:5px;
    background-color: antiquewhite;
}