<div class="container-fluid profile-content">
    <h2>Hello {{users[0].name}}!</h2>
    <hr class="my-5">

    <div id="card-container" class="card text-white bg-dark" style="max-width: 50rem;">
        <div class="card-header">Today</div>
        <div class="card-body">
            <h5 class="card-title">Apple Airpods</h5>
            <p class="card-text text-white"> $899 </p>
        </div>
    </div>

    <hr class="my-5">

    <div id="card-container" class="card text-white bg-dark" style="max-width: 50rem;">
        <div class="card-header">Mar 14</div>
        <div class="card-body">
            <h5 class="card-title">Groceries</h5>
            <p class="card-text text-white"> $106 </p>
            <h5 class="card-title">Commute</h5>
            <p class="card-text text-white"> $45 </p>
        </div>
    </div>

    <hr class="my-5">

    <div id="card-container" class="card text-white bg-dark" style="max-width: 50rem;">
        <div class="card-header">Mar 13</div>
        <div class="card-body">
            <h5 class="card-title">Mechanic</h5>
            <p class="card-text text-white"> $200 </p>
            <h5 class="card-title">Rent</h5>
            <p class="card-text text-white"> $1000 </p>
        </div>
    </div>



</div>

<!-- <ul *ngFor = "let user of users">
    <li>{{user.name}}</li>
</ul> -->