<div class="body">


<!--display form IF user doesn't exist in table-->
<div *ngIf="newUser; else oldUser" class="container details"> 
    <app-signup-form 
        [email]="this.userEmail"
        (SignInEvent)="setNewUser($event)">
    </app-signup-form>
</div>

<!--else show profile content-->
<!--


<div class="container-fluid profile-content">
    <h2>Hello {{users[0].name}}!</h2>
    <hr class="my-5">

    <div id="card-container" class="card text-white bg-dark" style="max-width: 50rem;">
        <div class="card-header">Today</div>
        <div class="card-body">
            <h5 class="card-title">Apple Airpods</h5>
            <p class="card-text text-white"> $899 </p>
        </div>
    </div>

    <hr class="my-5">

    <div id="card-container" class="card text-white bg-dark" style="max-width: 50rem;">
        <div class="card-header">Mar 14</div>
        <div class="card-body">
            <h5 class="card-title">Groceries</h5>
            <p class="card-text text-white"> $106 </p>
            <h5 class="card-title">Commute</h5>
            <p class="card-text text-white"> $45 </p>
        </div>
    </div>

    <hr class="my-5">

    <div id="card-container" class="card text-white bg-dark" style="max-width: 50rem;">
        <div class="card-header">Mar 13</div>
        <div class="card-body">
            <h5 class="card-title">Mechanic</h5>
            <p class="card-text text-white"> $200 </p>
            <h5 class="card-title">Rent</h5>
            <p class="card-text text-white"> $1000 </p>
        </div>
    </div>



</div>

-->
<ng-template #oldUser>

<!--info available from auth0 token-->
<div class="container auth0-profile">
    <h1>Profile</h1>
    <div *ngIf="auth.user$ | async as user">
        <div class="profile-header">
           <!-- <img [src]="user.picture" alt="user profile pic" class="rounded-circle img-fliud"/>-->
            <p>First Name: {{ returnedUser.firstName }} </p>
            <p>Last Name: {{ returnedUser.lastName }} </p>
            <p>Email: {{ returnedUser.email }} </p> 
            <p>Role: {{ returnedUser.role }} </p>           
        </div>
    </div>
</div>
</ng-template>

</div>

<!-- <ul *ngFor = "let user of users">
    <li>{{user.name}}</li>
</ul> -->