.body {
    background-color: #facedc;
    padding:5%;
}

.savedSection {
    background-color: #f7b4ca;
    padding:5%;
}
/* .profile-content {
    background-color: #ebaf50;
    text-align: center;
    justify-content: center;
}

#card-container{
    margin: 0 auto; 
    float: none;
    margin-bottom: 10px;
}


#action-button {
    background-color: #F0FA82;
    border-color:#F0FA82 ;
    border-radius: 50px;
    padding: 15px 50px;
    font-weight: 700;
    font-size: larger;
} */

.auth0-profile {
    background-color:white;
    padding:5%;
}

h2 {
    text-align: center;
}

.loadingProfile {
    background-color: white;
    text-align: center;
    padding:10%;
}

.loading, .nonSaved {
    background-color: #f7b4ca;
    text-align: center;
    padding:5%;
}



.NewUser {
    text-align: center;
    background-color: #facedc;
    padding:17%;
}

.edit {
    float: right;
    margin:5px;
    background-color: antiquewhite;
}

button {
    margin:5px;
    background-color: antiquewhite;
}