<div class="body">

    <!--QUESTION-->
    <h2 class="question" data-toggle="tooltip" data-placement="top" title="Running multiple programs requires a higher core count">
        What is your budget?
    </h2>

    <!--Coding Input-->
    <form #quizanswers = "ngForm" (ngSubmit)="addAnswer(quizanswers)">
        <div class="container code-content">
            <div class="form-group">
                <label class="p-4">
                  <input 
                  type="text"
                  ngModel name="budget" 
                  #budget="ngModel" 
                  id="budget"
                  class="form-control" 
                  placeholder="400-800"
                  value="" >Enter your ideal range, exclude $
                </label>
            </div>
        </div>
        <div class="next">
            <button type="submit" id="next-button" class="btn"> NEXT </button>
        </div>
    </form>

</div>