<div class="body">

    <!--QUESTION-->
    <h2 class="question" data-toggle="tooltip" data-placement="top" title="Running multiple programs requires a higher core count">
        What is your budget?
    </h2>

    <!--Coding Input-->
    <div class="container code-content">
        <input type="range" min="0" max="4000" value="50" id="slide">
        <div id="selector">
            <div class="SelectionBtn"></div>
        </div>

    </div>

    <div class="next">
        <button type="button" id="next-button" class="btn">
            <a class="nav-link" routerLink="/home">NEXT</a>
        </button>
    </div>

</div>